.form-main__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 25px 25px 0 25px;
  background-color: burlywood;
}

.form-main__articles {
  background-color: cornflowerblue;
}

.form-articles__item {
  // height: 400px;
  margin: 25px 0 25px 0;
  background-color: sienna;
  // overflow: hidden;
}
