.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}

.page-header__logo-image {
  width: 200px;
  height: 45px;
}

.page-header__logo {
  display: inline-block;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 20px;
  // outline: 1px solid red;
}

.page-header__main-nav {
  // outline: 1px solid red;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
  }

  .page-header__logo-image {

  }
}
