.page-footer {
  // margin-top: 100px;
  background-color: blueviolet;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 660px;
  }

}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 940px;
  }
}
